<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24468653843-shdtk183nsdhjqmgpg53mohuuf6r9d90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984203255055-shdtk183nsdhjqmgpg53mohuuf6r9d90</string>
	<key>API_KEY</key>
	<string>AIzaSyBgrdwBKdKnKMDcB-Xp_D7qankbn-O5Z6o</string>
	<key>GCM_SENDER_ID</key>
	<string>984203255055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ditonton.ditonton</string>
	<key>PROJECT_ID</key>
	<string>final-project-flutter-expert</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-flutter-expert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984203255055:ios:74763fe82cafed868a727a</string>
</dict>
</plist>